.nav {
    background-color: #0d192b;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    font-style: italic;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.nav-item > svg {
    margin-right: 7px;
    margin-left: 10px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3.5px;
    background-color: white;
    transition: width 0.5s ease-in-out;
}

.nav-item:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .nav {
        justify-content: center;
        padding: 10px 20px;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .nav-item {
        margin: 10px 0;
        padding: 10px 20px;
        width: 100%;
        text-align: right;
    }

    .nav-item > svg {
        margin: 0 0 0 10px;
    }

    .nav-item::after {
        left: auto;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .nav {
        flex-direction: column;
        padding: 10px;
    }

    .nav-list {
        width: 100%;
        align-items: flex-end;
    }

    .nav-item {
        padding: 10px 15px;
        width: 100%;
        text-align: right;
    }

    .nav-item > svg {
        margin: 0 0 0 10px;
    }

    .nav-item::after {
        left: auto;
        right: 10px;
    }
}
